* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: "Georgia", serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background: rgba(71, 70, 70, 0.75);
    border-bottom: 1px solid #b8860b; 
}

.logo h1 {
    color: #b8860b; 
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.logo span {
    color: white;
    font-size: 18px;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding-bottom: 3px;
    transition: 0.3s;
}

nav a:hover {
    color: #b8860b;
    border-bottom: 1px solid #b8860b;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(115, 103, 103);
    border: 1px solid #b8860b;
    padding: 10px 0;
    margin-top: 10px;
    z-index: 50;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-text {
    position: relative;
    z-index: 20;
    opacity: 0;
    max-width: 700px;
    margin: 25% auto 0;
    text-align: center;
    padding: 30px;

    animation: appear 1.2s ease forwards;
    animation-delay: 5s;
}

.intro-text h2 {
    color: #b8860b;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 18px;
    line-height: 1.6;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(70px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.discover-btn{
    position: relative;
    z-index: 25;
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    animation: appearBtn 1.2s ease forwards;
    animation-delay: 6s;
}

.discover-btn a{
    display: inline-block;
    padding: 14px 40px;
    border: 1px solid #b8860b;
    color: #b8860b;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.discover-btn a:hover{
    background: #b8860b;
    color: rgb(131, 129, 129);
}

@keyframes appearBtn{
    from{
        opacity:0;
        transform: translateY(30px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}